* {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #f1f1f1;
  font-family: "Courier New", Courier, monospace;
}

.fade-in-fwd {
  animation: fade-in-fwd 0.6s 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #352e2f;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

body {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 5fr 5fr 5fr 5rem;
  grid-template-areas: "nav nav nav " "main main main" "main2 main2 main2" "members members members" "foot foot foot";
}

header {
  grid-area: nav;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  align-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

header nav ul li {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 20px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

header nav ul li:hover {
  opacity: 1;
}

header nav ul li::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #f1f1f1;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul .ltr::before {
  width: 0%;
  bottom: 15px;
}

header nav ul .ltr:hover::before {
  width: 100%;
  background-color: #b82e1f;
}

main {
  display: flex;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  grid-area: main;
}

main .hero {
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0 15rem;
}

main .hero img {
  margin: 5rem 0rem;
  margin-bottom: 3rem;
  min-width: 10rem;
  width: 25rem;
  max-width: 40rem;
}

main .hero h1 {
  font-size: 50px;
  margin: 1rem 0;
  animation: fade-in-fwd 0.6s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.description {
  animation: fade-in-fwd 0.6s 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.games {
  grid-area: main2;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.games h1 {
  text-transform: uppercase;
  background: linear-gradient(#b82e1f 30%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
}

.games .cards-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background: #000;
  width: 100%;
}

.games .cards-section .cards {
  padding: 3rem 1rem;
  margin: 1rem 0.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px #363636;
}

.games .cards-section .cards:hover {
  transform: translateY(-10px);
  box-shadow: 0px 3px 10px #b82e1f;
}

.games .cards-section .cards a {
  text-decoration: none;
  color: #fff;
}

.games .cards-section .cards .title-name {
  background: #000;
}

.games .cards-section .cards .game-logo {
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: #000;
  text-align: center;
}

.games .cards-section .cards img {
  width: 8rem;
  border-radius: 5rem;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.spotify {
  position: fixed;
  right: 0;
  top: 100px;
  display: flex;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}

.spotify iframe {
  border: none;
}

.spotify button {
  position: relative;
  border: none;
  right: -32px;
  height: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #1db954;
  z-index: 30;
  transform: rotateZ(-90deg);
  padding: 0.5rem 1rem;
  box-shadow: 0px -3px 5px rgba(29, 185, 84, 0.4);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.spotify button img {
  width: 40px;
}

.hidden {
  display: none;
}

.footer {
  grid-area: foot;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.footer div {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  text-decoration: none;
  color: #f1f1f1;
}

.members {
  grid-area: members;
  margin: 4rem 3rem;
}

.members h1 {
  text-transform: uppercase;
  background: linear-gradient(#b82e1f 30%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
}

.members .members-section {
  display: flex;
  flex-direction: column;
}

.members .members-section a {
  text-decoration: none;
}

.members .members-section .r1,
.members .members-section .r2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.members .members-section .r1 .member-card,
.members .members-section .r2 .member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0.5rem 0.5rem;
  box-sizing: border-box;
  padding: 2rem 1rem;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.members .members-section .r1 .member-card:hover,
.members .members-section .r2 .member-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 3px 10px #b82e1f;
}

.members .members-section .r1 .member-card .member-avatar,
.members .members-section .r2 .member-card .member-avatar {
  border-radius: 5rem;
  margin-top: 1rem;
  text-align: center;
}

.members .members-section .r1 .member-card .member-avatar img,
.members .members-section .r2 .member-card .member-avatar img {
  width: 250px;
  height: 250px;
}

.members .members-section .r1 .member-card .member-name,
.members .members-section .r2 .member-card .member-name {
  text-align: center;
  margin-bottom: 1rem;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none;
}

nav a img {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    display: none;
  }
  .spotify {
    display: none;
  }
  .games .cards-section {
    flex-direction: column;
    margin: 0 auto;
    min-width: 100vw;
    place-items: center;
  }
  .games .cards-section .cards {
    width: 250px;
  }
  .members .members-section .r1 {
    flex-direction: column;
    place-items: center;
  }
  .members .members-section .r1 .member-card {
    width: 300px;
  }
  .members .members-section .r2 {
    flex-direction: column;
    place-items: center;
  }
  .members .members-section .r2 .member-card {
    width: 300px;
  }
  .description {
    padding: 0 1rem;
  }
  nav {
    position: relative;
    z-index: 100;
    background: #000;
  }
  nav ul li {
    display: block;
  }
  nav a img {
    display: block !important;
    width: 15px;
    height: auto;
    color: #fff;
  }
  main {
    margin-top: 4rem;
  }
}

.topnav {
  overflow: hidden;
  background-color: #070707;
  position: fixed;
  margin: 0;
  padding: 0;
}

.topnav li {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 100;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #f8f8f8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo a {
  text-decoration: none;
}

.penthouse {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 2fr 2fr 5rem;
  grid-template-areas: "nav2 nav2 nav2 " "main main main" "main2 main2 main2" "foot foot foot";
}

.penthouse .p-nav {
  grid-area: nav2;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.banner {
  grid-area: main;
  text-align: center;
  width: 100vw;
  margin-bottom: 2rem;
}

.banner img {
  max-width: 1500px;
  width: 80%;
  height: auto;
}

.rooms-grid {
  grid-area: main2;
  width: 100vw;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rooms-grid h1 {
  background: linear-gradient(#b82e1f 30%, #161616 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rooms-grid .container {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-center;
}

.rooms-grid .container .card {
  position: relative;
  margin: 0 1rem;
}

.rooms-grid .container .card .face {
  width: 450px;
  height: 300px;
  transition: 0.5s;
}

.rooms-grid .container .card .face1 {
  position: relative;
  background-color: black;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(150px);
}

.rooms-grid .container .card .face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.rooms-grid .container .card .face1 .content img {
  max-width: 450px;
  max-height: 300px;
}

.rooms-grid .container .card .face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #cccccc;
  text-align: center;
  font-size: 1.5em;
}

.rooms-grid .container .card .face2 {
  position: relative;
  background-color: #0e0e0e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-150px);
}

.rooms-grid .container .card .face2 .content p {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  text-align: justify;
}

.rooms-grid .container .card .face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #0e0e0e;
  padding: 5px;
  border: 1px solid #333;
}

.rooms-grid .container .card .face2 .content a:hover {
  background: #0e0e0e;
  color: #fff;
}

.rooms-grid .container .card:hover .face1 {
  background: #0e0e0e;
  transform: translateY(0px);
}

.rooms-grid .container .card:hover .face1 .content {
  opacity: 1;
}

.rooms-grid .container .card:hover .face2 {
  transform: translateY(0px);
}

.join {
  text-align: center;
  width: max-content;
  height: max-content;
  font-size: 30px;
  justify-self: center;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  border-radius: 5px;
  background-color: #b82e1f;
}

.join:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(184, 46, 31, 0.4);
  transform: translateY(-2px);
}

.join a {
  text-decoration: none;
  background-color: #b82e1f;
}

.bots-header {
  font-size: 30px;
  font-weight: bolder;
}

.bots-header h1 {
  background: linear-gradient(#b82e1f 30%, #161616 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bots {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  margin: 1rem 5rem;
  margin-bottom: 5rem;
}

.bots a {
  text-decoration: none;
}

.bots .bot-cards {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

.bots .bot-cards .bot-avatar {
  text-align: center;
  margin: 1rem;
}

.bots .bot-cards .bot-avatar img {
  box-sizing: border-box;
  border-radius: 15rem;
  width: 200px;
  height: 200px;
}

.bots .bot-cards .bot-description {
  font-size: 20px;
  text-align: center;
  margin: 1rem 1rem;
}

@media only screen and (max-width: 768px) {
  .banner {
    position: relative;
    z-index: 1;
    margin-top: 1rem;
  }
  .rooms-grid {
    margin-top: 20px;
    font-size: 25px;
  }
  .container {
    flex-direction: column;
  }
  .container .card {
    margin-top: 1rem;
  }
  .container .card .face {
    width: 300px;
    height: 200px;
  }
  .container .card .face1 {
    max-width: 410px;
    height: 200px;
    position: relative;
    transform: translateY(-150px);
  }
  .container .card .face2 {
    max-width: 410px;
    height: 200px;
    position: relative;
    transform: translateY(300px);
    color: #fff;
    text-align: justify;
  }
  .container .card .face2 .content {
    padding: 0 0.5rem;
  }
  #img1,
#img2,
#img3 {
    max-width: 300px;
    max-height: 200px;
  }
  .join {
    padding: 0.5rem 1rem;
    margin-bottom: 50px;
    font-size: 25px;
  }
  .join a {
    background-color: #b82e1f;
  }
  .spotify {
    display: none;
  }
  .games .cards-section {
    flex-direction: column;
    margin: 0 auto;
    min-width: 100vw;
    place-items: center;
  }
  .games .cards-section .cards {
    width: 250px;
  }
  .members .members-section .r1 {
    flex-direction: column;
    place-items: center;
  }
  .members .members-section .r1 .member-card {
    width: 300px;
  }
  .members .members-section .r2 {
    flex-direction: column;
    place-items: center;
  }
  .members .members-section .r2 .member-card {
    width: 300px;
  }
  .description {
    padding: 0 1rem;
  }
  .bots {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5rem;
  }
  .bots .bot-cards {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
  }
}
