* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background: #000000;
  color: #f1f1f1;
  font-family: "Courier New", Courier, monospace;
}

// Animations
.fade-in-fwd {
  animation: fade-in-fwd 0.6s 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

// End Animations

$colors: (
  primary: #b82e1f,
  secondary: #000000
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #352e2f;
  &:hover {
    background: #575757;
  }
}

body {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 5fr 5fr 5fr 5rem;
  grid-template-areas:
    "nav nav nav "
    "main main main"
    "main2 main2 main2"
    "members members members"
    "foot foot foot";
}

header {
  grid-area: nav;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    align-content: center;
    font-weight: bold;
    text-transform: uppercase;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      position: relative;

      li {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 20px;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
        &::before {
          transition: 300ms;
          height: 3px;
          content: "";
          position: absolute;
          background-color: #f1f1f1;
        }
        a {
          text-decoration: none;
        }
      }
      .ltr {
        &::before {
          width: 0%;
          bottom: 15px;
        }
        &:hover::before {
          width: 100%;
          background-color: color(primary);
        }
      }
    }
  }
}

main {
  display: flex;
  place-content: center;
  width: 100%;
  grid-area: main;
  .hero {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 15rem;
    img {
      margin: 5rem 0rem;
      margin-bottom: 3rem;
      width: 20rem;
      height: 18rem;
    }
    h1 {
      font-size: 50px;
      margin: 1rem 0;
      animation: fade-in-fwd 0.6s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}

.description {
  animation: fade-in-fwd 0.6s 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.games {
  grid-area: main2;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 100%;
  align-content: center;
  justify-content: center;
  h1 {
    text-transform: uppercase;
    background: linear-gradient(color(primary) 30%, color(secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
  }
  .cards-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: #000;
    width: 100%;
    .cards {
      padding: 3rem 1rem;
      margin: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0px 0px 5px #363636;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 3px 10px color(primary);
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      .title-name {
        background: #000;
      }
      .game-logo {
        box-sizing: border-box;
        padding: 1rem 1rem;
        background: #000;
        text-align: center;
      }
      img {
        width: 8rem;
        border-radius: 5rem;
        box-sizing: border-box;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.spotify {
  position: fixed;
  right: 0;
  top: 100px;
  display: flex;
  background: rgba($color: #000000, $alpha: 0);
  z-index: 20;
  iframe {
    border: none;
  }
  button {
    position: relative;
    border: none;
    right: -32px;
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #1db954;
    z-index: 30;
    transform: rotateZ(-90deg);
    padding: 0.5rem 1rem;
    box-shadow: 0px -3px 5px rgba(29, 185, 84, 0.4);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    img {
      width: 40px;
    }
  }
}

.reddit {
  position: fixed;
  right: 0;
  top: 215px;
  display: flex;
  background: rgba($color: #000000, $alpha: 0);
  z-index: 20;

  button {
    position: relative;
    border: none;
    right: -30px;
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #d12929;
    z-index: 30;
    transform: rotateZ(-90deg);
    padding: 0.5rem 1rem;
    box-shadow: 0px -3px 5px rgba(209, 41, 41, 0.4);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    img {
      width: 40px;
    }
  }
}

.hidden {
  display: none;
}

.footer {
  grid-area: foot;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
  justify-content: center;
  align-content: center;
  div {
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.members {
  grid-area: members;
  margin: 4rem 3rem;
  h1 {
    text-transform: uppercase;
    background: linear-gradient(color(primary) 30%, color(secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
  }
  .members-section {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
    .r1,
    .r2 {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      .member-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0.5rem 0.5rem;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 3px 10px color(primary);
        }
        .member-avatar {
          border-radius: 5rem;
          margin-top: 1rem;
          img {
            width: 200px;
          }
        }
        .member-name {
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

//remove 000webhost logo
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none;
}
